*.dat
*.debug
*.out
*.log
*.bak
*.pyc
*.png
*.cache
*.tgz
oct_pulses
.ipynb_checkpoints
/venv/
memoize.dump
/test_constraint/CPH0013_prop/
/.clusterjob_cache/
/mycert.pem
/check_RWA/
/runs_100_RWA/
/runs_200_LAB/
/runs_200_RWA/
/runs_050_RWA/
/runs_020_RWA/
/runs_010_RWA/
/runs_005_RWA/
/stage1_01.slr
/ibm_images/
/propagate/
